layout {
    pane size=1 split_direction="Vertical" borderless=true{
          plugin location="tab-bar"
    }
    pane size=1 borderless=true focus=false {
        command "gh-watch"
        args "--watch"
    }
    pane split_direction="Vertical" {
        pane focus=true {
            command "opencode"
        }
        pane
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
