/ide/
/projects/
/shell-snapshots/
/statsig/
/todos/
/debug/
/plugins/
/file-history/
/.claude.json
/history.jsonl
/backups/
/telemetry/
/tasks
*.backup

transcripts/
cache/
stats-cache.json

remote-settings.json
mcp-needs-auth-cache.json
policy-limits.json
