"*":
  Ensime:
    ensimeServerVersion: "2.0.0"
    sbtExec: "/usr/local/bin/sbt"
  "advanced-open-file":
    helmDirSwitch: true
  "atom-ide-ui":
    "atom-ide-code-format": {}
    "atom-ide-diagnostics-ui":
      autoVisibility: true
      showDiagnosticTraces: true
      showDirectoryColumn: true
    "atom-ide-outline-view": {}
    use: {}
  "atom-material-ui":
    tabs: {}
    ui:
      panelShadows: true
  "autocomplete-look":
    maxSuggestions: 5
  "autocomplete-plus":
    minimumWordLength: 0
  "bracket-matcher":
    autocompleteBrackets: false
  build:
    buildOnSave: true
    panelVisibility: "Hidden"
    saveOnBuild: true
    stealFocus: false
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    debugLSP: true
    disabledPackages: [
      "symbols-view"
      "ide-flow"
      "github-utils"
      "linter-write-good"
      "linter-scss-lint"
      "language-javascript-better"
      "linter-eslint"
      "react"
      "flow"
      "autocomplete-ruby"
      "omnisharp-atom"
      "ide-ruby"
      "atom-autocomplete-php"
      "tab-smart-sort"
      "ide-scala"
      "go-plus"
      "vertical-tabs"
      "linter"
      "github"
    ]
    excludeVcsIgnoredPaths: false
    packagesWithKeymapsDisabled: [
      "multi-cursor"
      "find-and-replace"
    ]
    projectHome: "/Users/tomoya/src/github.com/tomoasleep"
    telemetryConsent: "limited"
    themes: [
      "northem-dark-atom-ui"
      "solarized-light-syntax"
    ]
    titleBar: "custom"
  "custom-title":
    template: "<%= relativeFilePath %> (<%= projectName %>) - Atom <%= atom.getVersion() %>"
  docblockr:
    align_tags: "shallow"
  editor:
    fontFamily: "Fira Font, Hack, Consolas, Ricty"
    fontSize: 12
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "447dd7d0-6388-b4d1-ea86-afa4e6149e5a"
  "find-and-replace": {}
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
      "worktrees"
      "doc"
    ]
  "go-plus":
    panel:
      currentHeight: "17.1875vh"
  "gruvbox-plus-syntax":
    contrast: "Soft"
  "ide-flowtype":
    tryFlowBin: true
  "ide-go":
    customServerPath: "go-langserver"
    diagnosticsEnabled: true
  linter: {}
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-ui-default": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  narrow:
    notifiedVimModePlusSpecificDefaultKeymap: true
  "nord-atom-ui": {}
  nuclide:
    installRecommendedPackages: true
    "nuclide-flow":
      canUseFlowBin: true
      enableReferencesHighlight: true
      lazyServer: true
    "nuclide-home":
      showHome: false
    use:
      "atom-ide-diagnostics-ui": false
      "nuclide-diagnostics-extras": false
      "nuclide-file-tree": false
    useLocalRpc: true
  "rails-transporter":
    controllerSpecType: "requests"
  "ruby-test":
    rspecAllCommand: "docker-compose exec spring rspec --tty spec"
    rspecFileCommand: "docker-compose exec spring rspec --tty {relative_path}"
    rspecSingleCommand: "docker-compose exec spring rspec --tty {relative_path}:{line_number}"
    specFramework: "rspec"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  tabs: {}
  "tool-bar":
    visible: false
  "tree-view":
    hideVcsIgnoredFiles: true
  user:
    maxPaneLength: 80
  "vertical-tabs-plus":
    general:
      tabsPlacement: "left"
    tab: {}
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
