# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

format = """
$all\
$line_break\
$character"""

# Inserts a blank line between shell prompts
add_newline = true

[directory]
truncation_length = 8
truncation_symbol = "…/"
truncate_to_repo = false

[git_branch]
symbol = " "

[git_commit]
only_detached = false

[git_metrics]
disabled = false

[time]
disabled = false
time_format = "%Y/%m/%d %T"

# Replace the '❯' symbol in the prompt with '➜'
[character] # The name of the module we are configuring is 'character'
success_symbol = '[\(p_-\)/](green)'
error_symbol = '[_\(:3」\[＿\]](red)'

[docker_context]
disabled = true
symbol = " "

[gcloud]
disabled = true

[aws]
disabled = false
symbol = "  "

[nodejs]
symbol = " "

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true

# Use Nerd font symbols.
[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[python]
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = " "

[scala]
symbol = " "

[swift]
symbol = " "

[zig]
symbol = " "
